<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Message</title>
</head>
<body>
  <form action="/<%= user.username %>/create-message" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
    <label for="message">Message</label>
    <textarea name="message" id="message" placeholder="Type here..."></textarea>
    <button type="submit">Send</button>
  </form>
</body>
</html>