<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/output.css">
  <title>Log In</title>
</head>
<body class="min-h-screen flex flex-col">
  <%- include("partials/header") %>
  <main class="flex-grow">
    <%- include("partials/errors.ejs") %>
    <div class="flex flex-row justify-center">
      <div class="form-div w-64 h-64">
        <div class="flex flex-row justify-center">
          <h2 class="text-xl font-bold">Log In</h2>
        </div>
        <form action="/auth/log-in" method="POST" class="mt-4">
          <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="border-2 border-black">
          </div>
          <div class="mt-4">
            <label for="password" class="">Password</label>
            <input type="password" name="password" id="password" class="border-2 border-black ml-1.5">
          </div>
          <div class="mt-4 flex flex-row justify-center">
            <button type="submit" class="border-2 border-black bg-black text-white font-bold px-3">Log In</button>
          </div>
        </form>
      </div>
    </div>
    <div class="flex flex-row justify-center">
      <p>Dont have an account? <a href="/auth/sign-up">Sign up</a></p>
    </div>
  </main>
  <%- include("partials/footer") %>
</body>
</html>