<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In</title>
</head>
<body>
  <div>
    <h1>Log In</h1>
    <%- include("partials/errors.ejs") %>
    <form action="/auth/log-in" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" id="username">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
      <button type="submit">Log In</button>
    </form>
  </div>
  <div>
    <p>Dont have an account? <a href="/auth/sign-up">Sign up</a></p>
  </div>
</body>
</html>